:root {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  /* Desktop feel */
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
}